<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>test-output/neuron-activity-remote.log</file>
        <append>false</append>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--network setup events-->
    <logger name="com.digitalcipher.spiked.neurons.NetworkSetupEvent" level="debug" additivity="false">
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="FILE" />
    </logger>

    <logger name="com.digitalcipher.spiked.topology.AddNeuron" level="debug" additivity="false">
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="FILE" />
    </logger>

    <logger name="com.digitalcipher.spiked.topology.ConnectNeurons" level="debug" additivity="false">
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="FILE" />
    </logger>

    <logger name="com.digitalcipher.spiked.neurons.ConnectionEvent" level="debug" additivity="false">
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="FILE" />
    </logger>

    <logger name="com.digitalcipher.spiked.neurons.RegisterPreSynapticEvent" level="debug" additivity="false">
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="FILE" />
    </logger>

    <!-- signal events -->
    <logger name="com.digitalcipher.spiked.neurons.ReceiveSignalEvent" level="debug" additivity="false">
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="FILE" />
    </logger>

    <logger name="com.digitalcipher.spiked.neurons.UpdateMembranePotentialEvent" level="debug" additivity="false">
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="FILE" />
    </logger>

    <logger name="com.digitalcipher.spiked.neurons.StdpWeightUpdateEvent" level="debug" additivity="false">
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="FILE" />
    </logger>

    <logger name="com.digitalcipher.spiked.neurons.PhaseTransitionEvent" level="debug" additivity="false">
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="FILE" />
    </logger>

    <logger name="com.digitalcipher.spiked.neurons.FireEvent" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="com.digitalcipher.spiked.neurons.DynamicConnectionAddedEvent" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <!-- monitoring events -->
    <!--<logger name="com.digitalcipher.spiked.neurons.CollectedSignalEvent" level="debug" additivity="false">-->
        <!--<appender-ref ref="STDOUT" />-->
    <!--</logger>-->

    <!--<root level="info">-->
        <!--<appender-ref ref="STDOUT" />-->
    <!--</root>-->
</configuration>